[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
